.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}
input {
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
  outline: none;
  width: 90%;
  max-width: 300px;
  margin: 1em;
}
button {
  background: grey;
  color: #ffff;
  padding: 12px 5px;
  border-radius: 10px;
  margin: 0.5em;
  width: 40%;
  max-width: 300px;
}
.todoWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 500px;
}

.todoWrap p {
  width: 50%;
}
.todoButtonWrap {
  width: 50%;
}
.todoWrap button {
  outline: none;
  padding: 5px 5px;
}
